<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor's in Electronics Engineering</h1>
            <span>Metropolia University of Applied Sciences</span>
            <span><address>Helsinki, Finland</address><time>2012 to 2018</time></span>
        </header>
        <p>
            <em>Thesis: Hybrid off grid Solar UPS</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Machine Learning and Data Science</h1>
            <span>Integrify</span>
            <span><address>Helsinki, Finland</address><time>2020 to 2021</time></span>
        </header>
        
    </article>
</section>
