<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Integrify</h1>
            <h2>Trainee</h2>
            <span><address>Helsinki, Finland</address><time>2020 to present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>CG electronics</h1>
            <h2>Work Placement</h2>
            <span><address>Kathmandu, Nepal</address><time>2016 to 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Maxine Nightclub</h1>
            <h2>Supervisor</h2>
            <span><address>Helsinki, Finland</address><time>2017 to present</time></span>
        </header>
    </article>
    <article>
</section>
