<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Red Cross SOciety</h1>
            <span><address>Chitwan, Nepal</address><time>2013</time></span>
        </header>
        <p>
            Participated in blood donation program
        </p>
    </article>
    <article>
        <header>
            <h1>Rotary Club</h1>
            <span><address>Chitwan, Nepal</address><time>2013</time></span>
        </header>
        <p>
            Raising funds for floods victims
        </p>
    </article>
</section>